.footer {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 90%;
  height: 50px;
  align-items: center;
  color: rgb(204, 204, 204);
  background-color: rgba(13, 49, 61, 0.5);
}
