<div class="addNewResourcePage">
    <div class="form">
    <h1>Add New Resource</h1>
    <input type="text" placeholder="Name">
    <input type="text" placeholder="Category">
    <input type="text" placeholder="Sources">
    <input type="text" placeholder="Uses">
    <input type="text" placeholder="Image">
    <input type="text" placeholder="Crafting item">
    <input type="text" placeholder="Refining resource">
    <input type="text" placeholder="Created with">
    <button>Add</button>
</div>
</div>