.componentPage {
  height: 100vh;
  width: 100%;
  @include backgroundImage("../img/crafting-page.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    position: fixed;
    top: 100px;
    left: 200px;
  }
  h1 {
    position: relative;
    // top: 15vh;
    left: 35vw;
    width: 225px;

    color: white;
    background-color: $site-blue;
    padding: 20px;
    border-radius: 20px;
    font-family: $site-font;
  }

  .componentContainer {
    // background-color: white;
    position: relative;
    // top: 25vh;
    // left: 10vw;
    height: 60vh;
    width: 80vw;
  }
}
